.codes {
    @include centreItems();
    margin-top: 150px;
    // column-gap: 125px;
    @include for-large-tablet() {
        margin-top: 100px;
        flex-direction: column;
        text-align: center;
    }
    &__img {
        max-width: 445px;
        min-height: 284px;
        @include for-large-tablet() {
            order: 1;
            width: 391.73px;
            height: 250px;
        }
        @include for-nav() {
            width: 328px;
            height: 209px;
        }
    }
    &__texts {
        @include for-large-tablet() {
            order: 2;
        }
        &-title {
            font-family: $heading-fonts;
            font-size: 48px;
            line-height: 56px;
            letter-spacing: -0.369231px;
            color: $text-color;
            @include for-large-tablet() {
                font-weight: 400;
                font-size: 48px;
                line-height: 56px;
                text-align: center;
                letter-spacing: -0.369231px;
            }
            @include for-nav() {
                font-weight: 400;
                font-size: 36px;
                line-height: 36px;
                text-align: center;
                letter-spacing: -0.276923px;
            }
        }
        &-decoration {
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 28px;
            color: #6C8294;
            margin-top: 24px;
            max-width: 445px;
            @include for-large-tablet() {
                max-width: 573px;
                font-weight: 400;
                font-size: 15px;
                line-height: 28px;
                text-align: center;
            }
            @include for-nav() {
                max-width: 329px;
                font-weight: 400;
                font-size: 15px;
                line-height: 28px;
                text-align: center;
            }
        }
    }
}